/*
 * This Work is in the public domain and is provided on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied,
 * including, without limitation, any warranties or conditions of TITLE,
 * NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A PARTICULAR PURPOSE.
 * You are solely responsible for determining the appropriateness of using
 * this Work and assume any risks associated with your use of this Work.
 *
 * This Work includes contributions authored by David E. Jones, not as a
 * "work for hire", who hereby disclaims any copyright to the same.
 */

/* defaults */
* {
margin: 0px; border: 0px; outline: 0px; padding: 0px;
background: transparent; text-decoration: none;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-weight: normal;
font-size: 14px; /* set base font size here, all others relative using em */
vertical-align: middle;
}

/* needed to get buttons inside and outside forms to align */
div, form { vertical-align: top; }

/* ========================== body, etc ========================== */

html, body { margin: 0; padding: 0; height: 100%; width: 100%; }
html { overflow: hidden; }
body { overflow: auto; background: #DDDDDF; }

/* The overflow: auto is needed for non-dynamic layouts, and for dynamic ones is replaced by jquery layout */
#body-decorator { position: absolute; top: 10px; left: 10px; bottom: 10px; right: 10px;
    background: white; padding: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; overflow: auto; }

#header-logo { float: left; width: 260px; height: 30px; }
#header-logo h1, #header-logo a { font-size: 1.6em; font-family: Courier, "Courier New", monospace; font-weight: bold; border: 0px; padding: 0px; margin: 0px; }
#header-menus { float: left; }
#header-user { float: right; }

div.message { width: 600px; margin: 2px auto 2px auto; border: 1px solid #DDDDDF; padding: 2px; text-align: center; }
div.message span { font-size: 1em; }
div.error span { color: red; }

#apps-footer-content { margin: 5px auto 0px auto; /*border-top: 1px solid #DDDDDF;*/ padding: 2px; width: 200px; text-align: center; }

/* ====================== headings, general ====================== */

h1 { font-size: 1.6em; font-weight: bold; }
h2 { font-size: 1.3em; font-weight: bold; }
h3 { font-size: 1.1em; font-weight: bold; }
h4 { font-size: 1em; font-weight: bold; }
h5 { font-size: .9em; font-weight: bold; }
h6 { font-size: .8em; }

strong { font-weight: bold; }

tt, pre, pre code { font-family: "Courier New", Courier, monospace; }
pre { white-space: pre-wrap; word-wrap: break-word; }

a { font-size: 1em; font-weight: bold; color: #052f57; }
a:hover { text-decoration: underline; }
a span { font-size: 1em; font-weight: bold; }
p { margin: 2px 0px 2px 0px; padding: 2px 0px 2px 0px; }
li { margin: 0px 0px 0px 16px; padding: 0px 0px 0px 8px; }
form { display: inline; }

form.editable-form button { background: white; color: #333; border: 1px solid; border-color: #ddd #bbb #999; padding: 2px 4px 2px 4px; margin: 2px; outline: 0px; }

button.button-plain { border: 0px; padding: 0px; background: transparent; margin: 0px; color: #052f57; }
button.button-plain:hover { text-decoration: underline; }
/* NOTE: also using the jQueryUI ui-button style; skip:
button, input[type="reset"], input[type="submit"], input[type="button"], a.button {
font-size: 1em; font-weight: bold; text-decoration: none;
}
 background: white; color: #333; border: 1px solid; border-color: #ddd #bbb #999; padding: 2px 4px 2px 4px; margin: 2px 2px 2px 2px; outline: 0px;
 text-shadow: #fff 0 1px 1px; display: inline-block; overflow: visible; width: auto; cursor: pointer;
 -webkit-appearance: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; */
/*
button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active, a.button:active {
border-color: #999 #bbb #ddd; color: #666;
}
*/
.ui-button-text { font-size: 1em; font-weight: bold; text-decoration: none; }

input[type=""], input[type="text"], input[type="email"], input[type="url"], input[type="number"], input[type="password"], textarea, select {
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid; border-color: #999 #bbb #ddd;
margin: 2px 2px 2px 2px; padding: 2px 4px 2px 4px;
font-size: 1em; font-family: Lucida Console, Monaco, monospace;
}

select option {
margin: 2px 2px 2px 2px; padding: 2px 4px 2px 4px;
font-size: 1em; font-family: Lucida Console, Monaco, monospace;
}

input:required:invalid, input:invalid, textarea:invalid { background-color: #FDD; }
input:focus:valid, textarea:focus:valid { background-color: #EEE; }

th { text-align: left; padding: 0px 4px 0px 2px; }
td { padding: 0px 4px 0px 2px; }
tr:nth-child(odd) { background-color: #EEE; }
/*tr:nth-child(even) { background-color: #FFF; }*/
tr:hover { background-color: #DDD; }

/* ======================= XML Screen Styles ======================= */

/* styles based on convention in jquery-layout */
div.ui-layout-north { display: none; }
div.ui-layout-west { display: none; }
div.ui-layout-center { display: none; }
div.ui-layout-east { display: none; }
div.ui-layout-south { display: none; }
div.ui-layout-container { height: 100%; }

/* styles for non-dynamic table layout, not using jquery-layout */
div.panel-outer { display: table; table-layout: auto; width: 100%; height: 100%; }
div.panel-middle { display: table-row; height: 100%; }
div.panel-left { display: table-cell; /*width: 180px;*/ padding-right: 10px; height: 100%; }
div.panel-center-only { display: table-cell; /*width: 960px;*/ height: 100%; }
div.panel-center-left { display: table-cell; /*width: 770px;*/ height: 100%; }
div.panel-center-both { display: table-cell; /*width: 580px;*/ height: 100%; }
div.panel-center-right { display: table-cell; /*width: 770px;*/ height: 100%; }
div.panel-right { display: table-cell; /*width: 180px;*/ padding-left: 10px; height: 100%; }

/* old alternate approach using floats for columns (may now need style or HTML changes to work again):
div.panel-outer { }
div.panel-left { float: left; width: 180px; margin-right: 10px; }
div.panel-center-only { }
div.panel-center-left { float: left; width: 770px; }
div.panel-center-both { float: left; width: 580px; }
div.panel-center-right { float: left; width: 770px; }
div.panel-right { float: right; width: 180px; margin-left: 10px; }
*/

/* ======================= XML Form Styles ======================= */

.form-list-paginate a, .form-list-paginate span { padding-right: 4px;
    font-family: "Courier New", monospace; font-weight: bold; font-size: .8em; vertical-align: top; }

fieldset.form-single-outer { padding: 4px;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #DDDDDF;
}

.single-form-field { padding-right: 10px; }
.single-form-field span { font-size: 1em; display: inline-block; }
.single-form-field span input { margin-right: 4px; }
label.form-title { vertical-align: middle; display: inline-block; width: 120px; }

.field-row { }
.field-row-item { float: left; display: inline-block; }

.form-list-outer {
margin: 0;
border: 1px solid #DDDDDF; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
padding: 4px; width: 100%;
display: table; table-layout: auto; border-collapse: separate; empty-cells: show;
}
.form-header-group { display: table-header-group; }
.form-header-row { display: table-row; }
.form-header-cell { display: table-cell; text-align: left; padding: 0px 4px 0px 2px; }
.form-body { display: table-row-group; }
.form-row { display: table-row; background-color: #FFF; vertical-align: middle; }
.form-cell { display: table-cell; padding: 0px 4px 0px 2px; font-size: 1em; vertical-align: middle; }
.form-cell span { display: block; }
.form-cell input, .form-cell span input, .form-cell select, .form-cell span select { font-size: 0.9em; }
.form-bottom-row { display: table-caption; caption-side: bottom; text-align: left; vertical-align: middle; width: 100%; }
.form-row:nth-child(odd) { background-color: #EEE; }
/* .form-row:nth-child(even) { background-color: #FFF; } */
.form-row:hover { background-color: #DDD; }

.form-title { padding: 0px 8px 0px 2px; font-size: 1em; font-weight: bold; }
.form-list-outer .form-title { border-bottom: 1px solid #DDDDDF; white-space: nowrap; }

.form-header-field { white-space: nowrap; }
.form-header-cell, .form-header-cell div.form-title { vertical-align: top; }

.form-date-find span, .form-range-find span, .form-text-find span, .form-text-find select { font-size: .9em; }
.form-date-time { white-space: nowrap; }

/* This is the +/- in the header, use fixed width font for consistent sizing, Courier New has the best vertical alignment with + and - */
a.form-order-by { margin: 0px; padding: 0px; font-family: "Courier New", monospace; font-weight: bold; font-size: 1.2em; vertical-align: top; }
a.form-order-by:hover { color: blue; }
a.active { color: red; }

.form-cell .BigDecimal, .form-cell .Long, .form-cell .Double, .form-cell .Float, .form-cell .Integer { text-align: center; }
.form-cell .currency { text-align: right; }

/* ======================= Screen-specific ======================= */

#login-box { width: 280px; margin: 0 auto 0 auto; padding: 10px; }

#ArtifactHitBins-table tbody tr td, #ArtifactHitBins-table thead tr th, #ArtifactHitBins-table thead tr th div select,
#ArtifactHitBins-table thead tr th div input { font-size: .8em; }

#VisitArtifactHitList-table tbody tr td div { font-size: 1em; }

/* ================ Overrides for jquery-ui theme ================ */

.ui-widget { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 1em; }
/* .ui-widget .ui-button, .ui-widget button { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 0.8em; } */
input.ui-widget, select.ui-widget, select option.ui-widget, textarea.ui-widget, li.ui-menu-item a {
    font-family: Lucida Console, Monaco, monospace; font-size: 1em; }

.ui-button-icon-only { width: 1.1em; }
button.ui-button-icon-only { width: 1.1em; }
.ui-button-icons-only { width: 1.5em; }
button.ui-button-icons-only { width: 1.5em; }
.ui-button .ui-button-text { display: block; line-height: .8; font-size: 1em; overflow: visible; white-space: nowrap; }

.ui-tabs { position: relative; padding: 0px; zoom: 1; border: 0px; }
.ui-tabs .ui-tabs-nav { margin: 0 0 4px 0; padding: .1em .2em 0; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .1em .5em; text-decoration: none; }
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 4px 0px; background: none; }

.ui-menu { z-index: 9; display: inline-block; overflow: visible; white-space: nowrap; margin-bottom: 4px; }

.ui-accordion-header { line-height: .7; }

/* ================ Extensions for jquery-ui theme =============== */

/* this applies to combo-box and autocomplete */
input.ui-autocomplete-input { border: 1px solid #aaaaaa; font-size: .8em; width: 250px; padding: 2px; padding-left: 4px; }
/* this applies to autocomplete only */
input[type="text"].ui-autocomplete-input { width: auto; }
.ui-autocomplete-loading { background: white url('/images/wait_anim_16x16.gif') right center no-repeat; }
.ui-loading { background: white url('/images/wait_anim_16x16.gif') right center no-repeat; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* ================ jQuery Layout Styles =============== */
/* see http://layout.jquery-dev.net/lib/css/layout-default-latest.css */

/* layout panes */
.ui-layout-pane { background: transparent; /*border: 1px solid red;*/ /*padding: 1px;*/ overflow: auto; }
.ui-layout-west { padding: 0 5px 0 0; }
.ui-layout-center { padding: 0 5px 0 5px; }
.ui-layout-east { padding: 0 0 0 5px; }
/* doesn't seem to be used: .ui-layout-content { padding: 10px; position: relative; overflow: auto; } */

/* Must come AFTER pane-class above so will override */
.layout-child-container, .layout-content-container { padding: 0; overflow: auto; }
.layout-child-container { border: 0; /* remove border because inner-layout-panes probably have borders */ }
.layout-scroll { overflow: auto; }
.layout-hide { display: none; }

/* resizer bars */
.ui-layout-resizer { background: transparent; }
.ui-layout-resizer-north { background: transparent; border-top: 1px solid #BBB; }
.ui-layout-resizer-south { background: transparent; border-bottom: 1px solid #BBB; }
/* resizer bars - while resize in progress */
.ui-layout-resizer-drag { }
/* affects both open and closed states */
.ui-layout-resizer-hover { }
/* NOTE: It looks best when 'hover' and 'dragging' are set to the same color,
    otherwise color shifts while dragging when bar can't keep up with mouse */
/* hover-color to 'resize' and 'dragging' */
.ui-layout-resizer-open-hover, .ui-layout-resizer-dragging { background: #096ac8; }
.ui-layout-resizer-dragging { /*border: 1px solid #BBB;*/ }
.ui-layout-resizer-north-dragging, .ui-layout-resizer-south-dragging { border-width: 1px 0; }
.ui-layout-resizer-west-dragging, .ui-layout-resizer-east-dragging { border-width: 0 1px; }
/* resizer at min or max size-limit */
.ui-layout-resizer-dragging-limit { background: #E1A4A4; }
/* hover-color to 'slide open' */
.ui-layout-resizer-closed-hover { background: #EBD5AA; }
/* resizer when pane is 'slid open' */
.ui-layout-resizer-sliding { opacity: .10; filter: alpha(opacity=10); }
/* sliding resizer - hover */
.ui-layout-resizer-sliding-hover { opacity: 1.00; filter: alpha(opacity=100); }
/* sliding resizer - add 'outside-border' to resizer on-hover
 * this sample illustrates how to target specific panes and states */
.ui-layout-resizer-north-sliding-hover { border-bottom-width: 1px; }
.ui-layout-resizer-south-sliding-hover { border-top-width:  1px; }
.ui-layout-resizer-west-sliding-hover { border-right-width: 1px; }
.ui-layout-resizer-east-sliding-hover { border-left-width: 1px; }

/* layout toggler buttons */
.ui-layout-toggler { border: 1px solid #BBB; background-color: #BBB; }
.ui-layout-resizer-hover .ui-layout-toggler { opacity: .60; filter: alpha(opacity=60); }
.ui-layout-toggler-hover, .ui-layout-resizer-hover .ui-layout-toggler-hover { background-color: #00498F; opacity: 1.00; filter: alpha(opacity=100); }
.ui-layout-toggler-north, .ui-layout-toggler-south { border-width: 0 1px; }
.ui-layout-toggler-west, .ui-layout-toggler-east { border-width: 1px 0; }
/* hide the toggler-button when the pane is 'slid open' */
.ui-layout-resizer-sliding .ui-layout-toggler { display: none; }
/* style the text we put INSIDE the togglers */
.ui-layout-toggler .content { color: #666; font-size: 12px; font-weight: bold; width: 100%; padding-bottom: 0.35ex; }

/* layout pane masks - these styles are hard-coded on mask elems, but are also included here as !important to ensure will overrides any generic styles */
.ui-layout-mask { border: none !important; padding: 0 !important; margin: 0 !important; overflow: hidden !important;
    position: absolute !important; opacity: 0 !important; filter: Alpha(Opacity="0") !important; }
.ui-layout-mask-inside-pane { top: 0 !important; left: 0 !important; width: 100% !important; height: 100% !important; }
div.ui-layout-mask {}
iframe.ui-layout-mask {} /* standard mask for iframes */
