/*
 * This Work is in the public domain and is provided on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied,
 * including, without limitation, any warranties or conditions of TITLE,
 * NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A PARTICULAR PURPOSE.
 * You are solely responsible for determining the appropriateness of using
 * this Work and assume any risks associated with your use of this Work.
 *
 * This Work includes contributions authored by David E. Jones, not as a
 * "work for hire", who hereby disclaims any copyright to the same.
 */

/* defaults
* {
margin: 0px; border: 0px; outline: 0px; padding: 0px;
background: transparent; text-decoration: none;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-weight: normal;
font-size: 14px; / * set base font size here, all others relative using em * /
vertical-align: middle;
}
*/

/* needed to get buttons inside and outside forms to align
div, form { vertical-align: top; } */

/* ========================== body, etc ========================== */

/*html, body { margin: 0; padding: 0; height: 100%; width: 100%; }
html { overflow: hidden; }
body { overflow: auto; background: #DDDDDF; }
*/

body { padding-top: 50px; } /* this is the initial load setting, will get set dynamically for navbar-fixed-top */

/* The overflow: auto is needed for scroll in non-dynamic layouts, and for dynamic ones is replaced by jquery layout */
/*
#body-decorator { position: absolute; top: 8px; left: 8px; bottom: 8px; right: 8px;
    background: white; padding: 8px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; overflow: auto; }

#header-logo { float: left; width: 260px; height: 30px; }
#header-logo h1, #header-logo a { font-size: 1.6em; font-family: Courier, "Courier New", monospace; font-weight: bold; border: 0px; padding: 0px; margin: 0px; }
#header-menus { float: left; }
#header-user { float: right; }
*/

div.message { width: 600px; margin: 2px auto 2px auto; border: 1px solid #DDDDDF; padding: 2px; text-align: center; background-color: white; }
div.message span { font-size: 1em; }
div.error span { color: red; }

#apps-footer-content { margin: 5px auto 0px auto; width: 200px; text-align: center; }

/* ====================== headings, general ====================== */
/*
h1 { font-size: 1.6em; font-weight: bold; }
h2 { font-size: 1.3em; font-weight: bold; }
h3 { font-size: 1.1em; font-weight: bold; }
h4 { font-size: 1em; font-weight: bold; }
h5 { font-size: .9em; font-weight: bold; }
h6 { font-size: .8em; }


a { font-size: 1em; font-weight: bold; color: #052f57; }
a:hover { text-decoration: underline; }
a span { font-size: 1em; font-weight: bold; }
p { margin: 2px 0px 2px 0px; padding: 2px 0px 2px 0px; }
li { margin: 0px 0px 0px 16px; padding: 0px 0px 0px 8px; }
*/

strong { font-weight: bold; }
tt, pre, pre code { font-family: "Courier New", Courier, monospace; }
p, pre { white-space: pre-line; word-wrap: break-word; }
label { white-space: normal; }

.editable-label { color: rgb(66, 139, 202); }

form { display: inline; }

form.editable-form button { background: white; color: #333; border: 1px solid; border-color: #ddd #bbb #999; padding: 2px 4px 2px 4px; margin: 2px; outline: 0px; }

button.button-plain { border: 0px; padding: 0px; background: transparent; margin: 0px; color: #052f57; }
button.button-plain:hover { text-decoration: underline; }
/* NOTE: also using the jQueryUI ui-button style; skip:
button, input[type="reset"], input[type="submit"], input[type="button"], a.button {
font-size: 1em; font-weight: bold; text-decoration: none;
}
 background: white; color: #333; border: 1px solid; border-color: #ddd #bbb #999; padding: 2px 4px 2px 4px; margin: 2px 2px 2px 2px; outline: 0px;
 text-shadow: #fff 0 1px 1px; display: inline-block; overflow: visible; width: auto; cursor: pointer;
 -webkit-appearance: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; */
/*
button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active, a.button:active {
border-color: #999 #bbb #ddd; color: #666;
}

.ui-button-text { font-size: 1em; font-weight: bold; text-decoration: none; }
*/

/*
input[type=""], input[type="text"], input[type="email"], input[type="url"], input[type="number"], input[type="password"], textarea {
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid; border-color: #999 #bbb #ddd;
margin: 2px 2px 2px 2px; padding: 2px 4px 2px 4px;
font-size: 0.9em; font-family: Lucida Console, Monaco, monospace;
}

select option {
margin: 2px 2px 2px 2px; padding: 2px 4px 2px 4px;
font-size: 1em; font-family: Lucida Console, Monaco, monospace;
}
*/


input:required:invalid, input:invalid, textarea:invalid { background-color: #FEE; }
input:focus:valid, textarea:focus:valid { background-color: #EEE; }


.form-list-outer th { text-align: left; padding: 0px 4px 0px 2px; }
.form-list-outer td { padding: 0px 4px 0px 2px; }
.form-list-outer tr:nth-child(odd) { background-color: #EEE; }
/*.form-list-outer tr:nth-child(even) { background-color: #FFF; }*/
.form-list-outer tr:hover { background-color: #DDD; }

/* ======================= XML Screen Styles ======================= */

/* styles based on convention in jquery-layout
div.ui-layout-north { display: none; }
div.ui-layout-west { display: none; }
div.ui-layout-center { display: none; }
div.ui-layout-east { display: none; }
div.ui-layout-south { display: none; }
div.ui-layout-container { height: 100%; }
*/
/* styles for non-dynamic table layout, not using jquery-layout */
div.panel-outer {  }
div.panel-middle { display: table; table-layout: auto; width: 100%; height: 100%; }
div.panel-left { display: table-cell; /*width: 180px;*/ padding-right: 8px; height: 100%; vertical-align: top; }
div.panel-center-only { display: table-cell; /*width: 960px;*/ height: 100%; padding: 0 8px 0 8px; vertical-align: top; }
div.panel-center-left { display: table-cell; /*width: 770px;*/ height: 100%; padding: 0 8px 0 8px; vertical-align: top; }
div.panel-center-both { display: table-cell; /*width: 580px;*/ height: 100%; padding: 0 8px 0 8px; vertical-align: top; }
div.panel-center-right { display: table-cell; /*width: 770px;*/ height: 100%; padding: 0 8px 0 8px; vertical-align: top; }
div.panel-right { display: table-cell; /*width: 180px;*/ padding-left: 8px; height: 100%; vertical-align: top; }
div.panel-header { width: 100%; }
div.panel-footer { width: 100%; }

/* old alternate approach using floats for columns (may now need style or HTML changes to work again):
div.panel-outer { }
div.panel-left { float: left; width: 180px; margin-right: 10px; }
div.panel-center-only { }
div.panel-center-left { float: left; width: 770px; }
div.panel-center-both { float: left; width: 580px; }
div.panel-center-right { float: left; width: 770px; }
div.panel-right { float: right; width: 180px; margin-left: 10px; }
*/

/* ======================= XML Form Styles ======================= */

.form-list-paginate a, .form-list-paginate span { padding-right: 4px;
    font-family: "Courier New", monospace; font-weight: bold; font-size: .8em; vertical-align: top; }

/* replaced by Metis styles:
fieldset.form-single-outer { padding: 4px;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #DDDDDF;
}
.single-form-field { padding-right: 10px; }
.single-form-field span { font-size: 1em; display: inline-block; }
.single-form-field span input { margin-right: 4px; }
label.form-title { vertical-align: middle; display: inline-block; width: 120px; }
.form-title { padding: 0px 8px 0px 2px; font-size: 1em; font-weight: bold; }
.field-row { }
.field-row-item { float: left; display: inline-block; }
*/
/* these are still used when a row has more than 2 fields in it */
.field-row-item { float: left; display: block; margin-left: 17px; margin-right: 17px; }
.field-row-item input, .field-row-item select { display: inline-block; }

.form-list-outer {
margin: 0 0 10px 0; padding: 4px; width: 100%;
border: 1px solid #DDDDDF; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
display: table; table-layout: auto; border-collapse: separate; empty-cells: show;
white-space: normal;
}
.form-header-group { display: table-header-group; }
.form-header-row { display: table-row; }
.form-header-cell { display: table-cell; text-align: left; padding: 0px 4px 0px 2px; }
.form-body { display: table-row-group; }
.form-row { display: table-row; background-color: #FFF; vertical-align: middle; }
.form-cell { display: table-cell; padding: 0px 4px 0px 2px; font-size: 1em; vertical-align: middle; }
.form-cell span { display: block; }
.form-cell input, .form-cell span input, .form-cell select, .form-cell span select { font-size: 0.9em; }
.form-bottom-row { display: table-caption; caption-side: bottom; text-align: left; vertical-align: middle; width: 100%; }
.form-row:nth-child(odd) { background-color: #EEE; }
/* .form-row:nth-child(even) { background-color: #FFF; } */
.form-row:hover { background-color: #DDD; }

.form-list-outer .form-title { /* border-bottom: 1px solid #DDDDDF; */ white-space: nowrap; height: 1.5em; font-weight: bold; }

.form-header-field { white-space: nowrap; padding-top: 4px; }
.form-header-cell, .form-header-cell div.form-title { vertical-align: top; }

/* .form-date-find span, .form-range-find span, .form-text-find span, .form-text-find select { font-size: .8em; } */
/*.form-date-time { white-space: nowrap; display: inline; padding: 8px 52px 8px 12px; }
.form-date-find { white-space: nowrap; display: inline; padding: 8px 12px 8px 12px; }*/
.form-date-find, .form-range-find { display: block; padding-bottom: 4px; }
.input-group-addon, .input-group-btn, .input-group .form-control { display: inline; }
.form-date-find .input-group-addon { line-height: 34px; padding: 8px 12px 8px 12px; }
.form-date-find .input-group { display: inline-block; }

.form-text-find input, .form-range-find input { display: inline-block; }

/* This is the +/- in the header, use fixed width font for consistent sizing, Courier New has the best vertical alignment with + and - */
a.form-order-by { margin: 0px; padding: 0px; font-family: "Courier New", monospace; font-weight: bold; font-size: 1.2em; vertical-align: top; }
a.form-order-by:hover { color: blue; }
a.active { color: red; }

.form-cell .BigDecimal, .form-cell .Long, .form-cell .Double, .form-cell .Float, .form-cell .Integer { text-align: center; }
.form-cell .currency { text-align: right; }

/* ======================= Handy Styles ======================= */

ul.float-box {
    display: inline-block;
    list-style: none outside none;
    margin-left: 0;
    margin-top: 16px;
    padding: 0;
}
ul.float-box li {
    background: #EEEEEE;
    -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    display: inline-block;
    line-height: 18px;
    margin: 0 8px 8px;
    padding: 0 10px;
    float: left;
}

.shaded-area {
    background: #EEEEEE;
    -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    padding: 8px;
}

.info {  }

/* ======================= Screen-specific ======================= */

/* #login-box { width: 280px; margin: 0 auto 0 auto; padding: 10px; } */

#ArtifactHitBins-table tbody tr td, #ArtifactHitBins-table thead tr th, #ArtifactHitBins-table thead tr th div select,
#ArtifactHitBins-table thead tr th div input { font-size: .8em; }

#VisitArtifactHitList-table tbody tr td div { font-size: 1em; }

.ScreenTreeNested { margin-left: 16px; }

/* ================ Overrides for jquery-ui theme ================ */

.ui-widget { font-size: 1em; }
/* .ui-widget .ui-button, .ui-widget button { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 0.8em; } */
input.ui-widget, select.ui-widget, select option.ui-widget, textarea.ui-widget, li.ui-menu-item a { font-size: 1em; }

.ui-button { border: none; margin: 2px; }

.ui-button-icon-only { width: 1.1em; }
button.ui-button-icon-only { width: 1.1em; }
.ui-button-icons-only { width: 1.5em; }
button.ui-button-icons-only { width: 1.5em; }
.ui-button .ui-button-text { display: block; line-height: .8; font-size: 1em; overflow: visible; white-space: nowrap; }

.ui-tabs { position: relative; padding: 0px; zoom: 1; border: none; }
.ui-tabs .ui-tabs-nav { margin: 0 0 4px 0; padding: .1em .2em 0; border: none; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .1em .5em; text-decoration: none; }
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 4px 0px; background: none; }

.ui-menu { display: inline-block; overflow: visible; white-space: nowrap; margin-bottom: 4px; }
.ui-menu-item .ui-state-focus { border-color: transparent; }
.ui-menu-item .ui-state-active { -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; }

.ui-accordion-header { line-height: .7; background: none; }
.ui-accordion .ui-accordion-content { padding: 0.5em 1em; }

.ui-widget-header { background-image: none; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background-image: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background-image: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background-image: none; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  { background-image: none; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { background-image: none; }

/* ================ Extensions for jquery-ui theme =============== */

/* this applies to combo-box and autocomplete */
input.ui-autocomplete-input { font-size: .9em; }
/* this applies to autocomplete only */
input[type="text"].ui-autocomplete-input { width: auto; }
.ui-autocomplete-loading { background: white url('/images/wait_anim_16x16.gif') right center no-repeat; }
.ui-loading { background: white url('/images/wait_anim_16x16.gif') right center no-repeat; }
.ui-autocomplete { z-index: 1100; } /* needed for modal windows with z-index of 1050 */

/* css for timepicker */
/*
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
*/

/* ================ Extensions for bootstrap.min.css theme =============== */

.progress { margin-bottom: 8px; }

.form-group { margin-bottom: 8px; }
.input-group .form-control, .form-control { width: auto; }
/* causes more layout issues than solves: .form-group div { padding-top: 7px; } */
.form-horizontal .control-label { padding-top: 0; }

/* ================ Other, Fix Styles =============== */

/* these are needed for Chosen and other dynamic things to not get clipped by the bottom of the content area */
#wrap { overflow: visible; }
#content { overflow: visible; }
.inner { overflow: visible; }

/* get rid of the grey box, looks funny when screen isn't very tall */
.inner { border: 0; }

input[type=radio], input[type=checkbox] { height: auto; }

/* this is to fix a REALLY annoying bug in chosen for drop-downs in a static modal window, but also REALLY annoyingly makes all drop-downs super-wide!!!!!
 * Partly fixed, but not really, by changing ["" + this.form_field.offsetWidth + ] to [$(this.form_field).width() + ] in chosen.jquery.min.js:
 */
.container-dialog .chosen-container { min-width: 360px !important; }
.field-row-item .chosen-container { min-width: 200px !important; }

.modal { text-align: left; }
