<?xml version="1.0"?>
<!-- No copyright or license for configuration file, details here are not considered a creative work. -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Moqui Root Webapp</display-name>

    <context-param>
        <param-name>moqui-name</param-name>
        <param-value>webroot</param-value>
        <description>The name of the Moqui webapp used to lookup configuration in the moqui-conf.webapp-list.webapp.@moqui-name attribute.</description>
    </context-param>

    <listener><listener-class>org.moqui.impl.webapp.MoquiContextListener</listener-class></listener>
    <listener><listener-class>org.moqui.impl.webapp.MoquiSessionListener</listener-class></listener>
    <listener><listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class></listener>

    <servlet>
        <servlet-name>MoquiServlet</servlet-name>
        <display-name>MoquiServlet</display-name>
        <description>Moqui Webapp Servlet</description>
        <servlet-class>org.moqui.impl.webapp.MoquiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoquiServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <!-- default to 30 minutes, good for PCI compliance and general good practice -->
        <session-timeout>30</session-timeout>
    </session-config>

<!-- HTTP Response Code definitions:
| "400"   ; Bad Request
| "401"   ; Unauthorized
| "402"   ; Payment Required
| "403"   ; Forbidden
| "404"   ; Not Found
| "405"   ; Method Not Allowed
| "406"   ; Not Acceptable
| "407"   ; Proxy Authentication Required
| "408"   ; Request Time-out
| "409"   ; Conflict
| "410"   ; Gone
| "411"   ; Length Required
| "412"   ; Precondition Failed
| "413"   ; Request Entity Too Large
| "414"   ; Request-URI Too Large
| "415"   ; Unsupported Media Type
| "500"   ; Internal Server Error
| "501"   ; Not Implemented
| "502"   ; Bad Gateway
| "503"   ; Service Unavailable
| "504"   ; Gateway Time-out
| "505"   ; HTTP Version not supported
-->
</web-app>
