/* defaults */
* {
color: black;
margin: 0px;
padding: 0px;
text-decoration: none;
font-weight: normal;
}

/* ========================== body, etc ========================== */

body {
background: #DDDDDF;
margin: 0px;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#WebrootPanel {
background: white;
margin: 0px auto 0px auto;
border: 10px solid #DDDDDF;
padding: 10px;
width: 780px;
}

#WebrootPanel_header {
border-bottom: 1px solid #DDDDDF;
}
#header-logo {
float: left;
width: 300px;
height: 30px;
}
#header-logo h1 {
font-size: 1.5em;
font-family: "Courier New", Courier, monospace;
font-weight: bold;
}
#header-user {
float: right;
}
#header-menu {
}

#WebrootPanel_footer {
margin: 0px auto 0px auto;
border-top:  1px solid #DDDDDF;
padding: 2px;
width: 200px;
}

/* ====================== headings, general ====================== */

h1 {
font-size: 1.5em;
font-weight: bold;
}

h2 {
font-size: 1.2em;
font-weight: bold;
}

h3 {
font-size: 1.0em;
font-weight: bold;
}

h4 {
font-size: 0.9em;
font-weight: bold;
}

h5 {
font-size: 0.8em;
font-weight: bold;
}

h6 {
text-align: center;
font-size: 0.6em;
}

a {
font-size: 0.9em;
fond-weight: bold;
}

p {
margin: 2px 0px 2px 0px;
padding: 2px 0px 2px 0px;
}

li {
margin: 0px 0px 0px 16px;
padding: 0px 0px 0px 8px;
}

form {
display: inline;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
-webkit-appearance: none;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
background: white;
border: 1px solid;
border-color: #ddd #bbb #999;
cursor: pointer;
color: #333;
display:inline-block;
font-size: 0.8em;
font-weight: bold;
outline: 0;
overflow: visible;
padding: 2px 4px 2px 4px;
text-decoration:none;
text-shadow: #fff 0 1px 1px;
width: auto;
}


/* ======================= subscreens-menu ======================= */

ul.subscreens-menu {
margin: 0px;
/* border-top: 1px solid #DDDDDF; */
padding: 0px 4px 0px 4px;
list-style-type: none;
}

ul.subscreens-menu li {
float: left;
display: block;
margin: 0px;
padding: 0px 4px 0px 4px;
font-size: 0.9em;
fond-weight: bold;
}

ul.subscreens-menu li a {
text-decoration: none;
}

ul.subscreens-menu li a:hover, ul.subscreens-menu li.selected a {
text-decoration: underline;
}

/* ========================= misc styles ========================= */

.clear {
clear: both;
height: 0;
visibility: hidden;
}
