/*
 * This Work is in the public domain and is provided on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied,
 * including, without limitation, any warranties or conditions of TITLE,
 * NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A PARTICULAR PURPOSE.
 * You are solely responsible for determining the appropriateness of using
 * this Work and assume any risks associated with your use of this Work.
 *
 * This Work includes contributions authored by David E. Jones, not as a
 * "work for hire", who hereby disclaims any copyright to the same.
 */

/* defaults */
* {
margin: 0px;
border: 0px;
outline: 0px;
padding: 0px;
color: black;
background: transparent;
text-decoration: none;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-weight: normal;
font-size: 16px; /* set base font size here, all others relative using em */
vertical-align: baseline;
}

/* ========================== body, etc ========================== */

body {
background: #DDDDDF;
margin: 0px;
}

#apps-container {
background: white;
margin: 0px auto 0px auto;
border: 10px solid #DDDDDF;
padding: 10px;
width: 780px;
overflow: auto;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

#apps-container-header {
border-bottom: 1px solid #DDDDDF;
}
#header-logo {
float: left;
width: 300px;
height: 30px;
}
#header-logo h1 {
font-size: 1.5em;
font-family: Courier, "Courier New", monospace;
font-weight: bold;
}
#header-user {
float: right;
}
#header-menu {
}

div.message {
width: 600px;
margin: 2px auto 2px auto;
border: 1px solid #DDDDDF;
padding: 2px;
text-align: center;
}
div.message span {
font-size: 0.9em;
}
div.error span {
color: red;
}

#apps-container-footer {
margin: 0px auto 0px auto;
border-top:  1px solid #DDDDDF;
padding: 2px;
width: 200px;
text-align: center;
}

/* ====================== headings, general ====================== */

h1 {
font-size: 1.5em;
font-weight: bold;
}

h2 {
font-size: 1.2em;
font-weight: bold;
}

h3 {
font-size: 1.0em;
font-weight: bold;
}

h4 {
font-size: 0.9em;
font-weight: bold;
}

h5 {
font-size: 0.8em;
font-weight: bold;
}

h6 {
font-size: 0.6em;
}

a {
font-size: 0.9em;
font-weight: bold;
}

p {
margin: 2px 0px 2px 0px;
padding: 2px 0px 2px 0px;
}

li {
margin: 0px 0px 0px 16px;
padding: 0px 0px 0px 8px;
}

form {
display: inline;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
-webkit-appearance: none;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
background: white;
border: 1px solid;
border-color: #ddd #bbb #999;
cursor: pointer;
color: #333;
display: inline-block;
font-size: 0.8em;
font-weight: bold;
outline: 0px;
overflow: visible;
margin: 0px 2px 0px 2px;
padding: 2px 4px 2px 4px;
text-decoration: none;
text-shadow: #fff 0 1px 1px;
width: auto;
}

input[type="text"], input[type="password"], textarea, select {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid;
border-color: #999 #bbb #ddd;
margin: 0px 2px 0px 2px;
padding: 2px 4px 2px 4px;
font-size: 0.8em;
font-family: Lucida Console, Monaco, monospace;
}

/* ======================= subscreens-menu ======================= */

ul.subscreens-menu {
margin: 0px;
/* border-top: 1px solid #DDDDDF; */
padding: 0px 4px 0px 4px;
list-style-type: none;
}

ul.subscreens-menu li {
float: left;
display: block;
margin: 0px;
padding: 0px 4px 0px 4px;
font-size: 0.9em;
font-weight: bold;
}

ul.subscreens-menu li a {
text-decoration: none;
}

ul.subscreens-menu li.selected a {
text-decoration: underline;
}
ul.subscreens-menu li a:hover {
color: #000077;
}

/* ======================= XML Form Styles ======================= */

table.form-single-outer {
margin: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid #DDDDDF;
padding: 4px;
width: 100%;
}
table.form-list-outer {
margin: 4px;
border: 1px solid #DDDDDF;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 4px;
width: 100%;
}

.form-title {
padding: 0px 8px 0px 2px;
font-size: 0.9em;
font-weight: bold;
vertical-align: middle;
}
table.form-list-outer .form-title {
border-bottom: 1px solid #DDDDDF;
}

/* ========================= misc styles ========================= */

.clear {
clear: both;
height: 0;
visibility: hidden;
}

/* ======================= Screen-specific ======================= */

#login-box {
width: 300px;
margin: 0px auto 0px auto;
padding: 10px;
}
