
#WebrootPanel_header h1 {
margin: 0px;
padding: 4px 0px 8px 0px;
font-size: 1.5em;
color: black;
text-decoration: none;
font-family: "Courier New", Courier, monospace;
font-weight: bold;
}

.subscreens-menu ul {
margin: 0px;
padding: 0px;
list-style-type: none;
margin: auto;
}

.subscreens-menu ul li {
float: left;
margin: 4px;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
fond-weight: bold;
}

.subscreens-menu ul li a {
text-decoration: none;
}
