<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- No copyright or license for configuration file, details here are not considered a creative work. -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- async appender -->
    <appender name="async" class="org.apache.log4j.AsyncAppender">
        <param name="locationInfo" value="true"/>
        <param name="blocking" value="false"/>
        <param name="bufferSize" value="512"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="rolling-file"/>
        <appender-ref ref="error"/>
        <!-- <appender-ref ref="socket"/> -->
        <!-- <appender-ref ref="email"/> -->
    </appender>

    <!-- stdout appender -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="all"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- A more complete pattern, but more verbose and slower: <param name="ConversionPattern" value="%d (%t) [%24F:%-3L:%-5p]%x %m%n"/> -->
            <param name="ConversionPattern" value="--- %-8r [%15.15t] %-5p %40.40c %x%n %m%n"/>
        </layout>
    </appender>

    <!-- rolling file appender -->
    <appender name="rolling-file" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1000KB"/>
        <param name="maxBackupIndex" value="10"/>
        <!-- this should work with the system property, not sure why it isn't: <param name="File" value="${moqui.runtime}/runtime/log/moqui.log"/> -->
        <param name="File" value="../moqui/runtime/log/moqui.log"/>
        <param name="threshold" value="all"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-8r [%15.15t] %-5p %30.30c %x - %m%n"/>
        </layout>
    </appender>

    <!-- error log -->
    <appender name="error" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="10000KB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="File" value="../moqui/runtime/log/error.log"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- for errors we have a really big string -->
            <param name="ConversionPattern" value="%-8r [%15.15t] %-5p %30.30c [%24F:%-3L:%-5p] %x - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="fatal"/>
            <param name="LevelMin" value="error"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <!-- chainsaw remote socket log monitor -->
    <!-- NOTE: uncomment here and in the async appender
    <appender name="socket" class="org.apache.log4j.net.SocketHubAppender">
        <param name="port" value="4445"/>
    </appender>
    -->

    <!-- fatal error SMTP notification -->
    <!-- NOTE: uncomment here and in the async appender
    <appender name="email"  class="org.apache.log4j.net.SMTPAppender">
        <param name="threshold" value="fatal"/>
        <param name="BufferSize" value="512"/>
        <param name="SMTPHost" value="localhost"/>
        <param name="From" value="moqui-fatal@localhost"/>
        <param name="To" value="neo@foobar.com"/>  <!- - at least change this field! - ->
        <param name="Subject" value="[Moqui-Fatal] Application Error"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d (%t) [%24F:%-3L:%-5p]%x %m%n"/>
        </layout>
    </appender>
    -->

    <!-- org.apache tool log settings -->
    <category name="org.apache.catalina">
        <priority value="warn"/>
    </category>
    <category name="org.apache.log4j">
        <priority value="warn"/>
    </category>

    <category name="freemarker">
        <priority value="warn"/>
    </category>

    <category name="net.sf.ehcache">
        <priority value="warn"/>
    </category>

    <category name="org.quartz.core">
        <priority value="warn"/>
    </category>

    <category name="atomikos">
        <!-- NOTE: this is "atomikos" isntead of "com.atomikos" because that is how Atomikos is setup -->
        <priority value="warn"/>
    </category>

    <!-- root logger -->
    <root>
        <!-- NOTE: Change the priority here to "info" or "warn" for production to reduce logging overhead. -->
        <priority value="all"/>
        <appender-ref ref="async"/>
    </root>
</log4j:configuration>
