<?xml version="1.0"?>
<!-- No copyright or license for configuration file, details here are not considered a creative work. -->
<web-app version="2.5">
    <!-- commented to avoid a web request to get the XSD file:
         <web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> -->
    <display-name>Moqui Root Webapp</display-name>

    <context-param>
        <param-name>moqui-name</param-name>
        <param-value>webroot</param-value>
        <description>The name of the Moqui webapp used to lookup configuration in the moqui-conf.webapp-list.webapp.@moqui-name attribute.</description>
    </context-param>

    <listener><listener-class>org.moqui.impl.webapp.MoquiContextListener</listener-class></listener>
    <listener><listener-class>org.moqui.impl.webapp.MoquiSessionListener</listener-class></listener>
    <listener><listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class></listener>

    <servlet>
        <servlet-name>MoquiServlet</servlet-name>
        <display-name>MoquiServlet</display-name>
        <description>Moqui Webapp Servlet</description>
        <servlet-class>org.moqui.impl.webapp.MoquiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoquiServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- NOTE: comment this out if you remove FOP -->
    <servlet>
        <servlet-name>MoquiFopServlet</servlet-name>
        <display-name>MoquiFopServlet</display-name>
        <description>Moqui Webapp FOP Servlet</description>
        <servlet-class>org.moqui.impl.webapp.MoquiFopServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoquiFopServlet</servlet-name>
        <url-pattern>/fop/*</url-pattern>
    </servlet-mapping>

    <session-config><session-timeout>15</session-timeout></session-config>
</web-app>
